

.card {
  
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0.2rem
}
.card p {
  color: #673BB7;
}
.charCard {
  
  background-color: transparent;
  appearance: none;
  outline: none;
}
.charImg {
  max-width: 100px;
  z-index: 10;
  
 }
