.guess, .guess form{
    background-color: #B2DFDB;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.guess h3 {
    font-family: 'VT323', monospace;
    color: whitesmoke;
    font-size: 2rem;
    padding-bottom: 1rem;
  }

.guess h4 {
    font-family: 'VT323', monospace;
    color: whitesmoke;
    font-size: 1.5rem;
}